@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;800&display=swap");* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Fira Sans", sans-serif;
}


/* AD */

#oO4M36 {
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    color: #000;
    font-family: "Roboto Slab", serif;
    transform: translate3d(0px, 0px, 0px);
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    background-color: #8ec2e6;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    text-align: center;
    padding: 5px 5px;
    margin-bottom: 20px;
}

#img1tool {
    float: left;
}

#kw5yjL {
    background-color: rgb(39, 37, 66);
    color: #fff;
    width: 75px;
    padding: 7px 7px;
    float: right;
    border-radius: 5px;
    text-align: center;
    margin: 10px 15px;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 25%;
}

#kw5yjL:hover {
    border: 0.5px solid white;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}


/* AD *******************************************************************************/

.fz-11 {
    font-size: 11px;
    font-weight: 800;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 25px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.main-color {
    color: #7e0019;
}

.bg-red {
    background-color: #7e0019;
}


/*HEADER*/

.project-menu {
    margin: 5px;
    padding: 0 20%;
}

.project-menu a,
.main-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

.main-menu {
    margin: 5px;
    padding: 0 13%;
    border-bottom: 1px solid #bcbbbc;
}

.main-menu a {
    font-weight: bolder;
    font-size: 13px;
    color: black;
    line-height: 35px;
}

.main-menu a:hover,
.project-menu a:hover,
.top_options_club:hover,
a:hover {
    opacity: 0.7;
}

.active a,
.news-cards-1 a:hover,
.news-cards-2 a:hover,
.news-card-wrap:hover,
.news-card-rside a:hover {
    color: #7e0019;
}

.menu-banner {
    align-items: center;
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
}

.main_logo {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.main_logo_info {
    font-size: 11px;
    margin-top: -5px;
}

.hamburger-menu {
    display: block;
    position: relative;
    margin-right: -10px;
    cursor: pointer;
}

.hamburger-menu p {
    margin-left: 35px;
}

.hamburger-menu span,
.hamburger-menu span:before,
.hamburger-menu span:after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 25px;
    height: 3px;
    top: 50%;
}

.hamburger-menu span:before {
    transform: translateY(4px);
}

.hamburger-menu span:after {
    transform: translateY(-8px);
}

.top_options a {
    text-decoration: none;
    color: white;
}

span.options_text_active {
    opacity: 0.5;
}

.top_options_club {
    background-color: #b30c1d;
    font-size: 12px;
    padding: 7px 10px;
    margin: 0 0 0 25px;
    border: 3px solid #fff;
    border-radius: 50px;
}


/*SECTION STATISTIC **************************************************************************/

.statistic {
    cursor: pointer;
}

.covid {
    text-transform: uppercase;
    font-weight: normal;
    margin: 15px 0 10px 10px;
    font-size: 18px;
}

.statistic:hover,
.card-item:hover {
    z-index: 1;
    color: #7e0019;
}

.card-wrap:hover {
    box-shadow: 3px 3px 5px;
    color: #7e0019;
}

.graf-cards {
    margin-top: 20px;
}

.card-wrap {
    border: 1px solid #bcbbbc;
    width: 310px;
    height: 75px;
    padding: 5px;
    position: relative;
}


/* REAL GRAPHIC OF SITUATION *********************************************************************************/

.graf {
    position: absolute;
    right: 80px;
    top: 30px;
}

.up {
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-30px);
    bottom: -35px;
    flex-grow: 4;
}

.down {
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-55px);
    bottom: -35px;
    flex-grow: 2;
}

.up::before {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-40px);
}

.down::before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(12px);
}

.midle::before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-85px);
    bottom: -35px;
}

.up::after {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(32px);
}

.down::after {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background-color: #7e0019;
    position: absolute;
    transform: translateX(73px);
}

.midle::after {
    content: "";
    display: block;
    width: 5px;
    /* height: 1px; */
    background-color: #7e0019;
    position: absolute;
    transform: translateX(-14px);
    margin-top: -3px;
    bottom: -35px;
}

.count {
    color: red;
    position: absolute;
    right: 1%;
    bottom: 10%;
    font-size: 16px;
}

.card-wrap p {
    text-transform: uppercase;
    font-weight: 800;
}

.card-item {
    font-size: 36px;
    font-weight: bolder;
    color: #333;
}

.up,
.up::before,
.up::after {
    animation: grow-cols-F 3.85s infinite linear;
    transition: all ease-out 0.2s;
}

.down,
.down::after,
.down::before {
    animation: grow-cols-S 3.85s infinite linear;
    transition: all ease-out 0.4s;
}

.midle::after,
.midle::before {
    animation: grow-cols-M 3.85s infinite linear;
    transition: all ease-out 0.3s;
}

.sub_title {
    margin: 10px 0 10px 10px;
}

.sub_title span {
    font-weight: bolder;
    color: #000;
}

.statistic a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 10px 10px;
}


/* MEDIA *******************************************************************/

@keyframes grow-cols-F {
    0% {
        height: 1px;
    }
    100% {
        height: 47px;
    }
}

@keyframes grow-cols-S {
    0% {
        height: 1px;
    }
    100% {
        height: 33px;
    }
}

@keyframes grow-cols-M {
    0% {
        height: 1px;
    }
    100% {
        height: 39px;
    }
}


/* NEWS SECTION ********************************************************/

.news-cards-1,
.news-cards-2 {
    width: 324px;
}

.news-cards-1 img,
.news-cards-2 img {
    width: 324px;
    padding: 10px;
}


.news-card-rside img {
    width: 100%;
}

.news-cards-1 a,
.news-cards-2 a,
.news-card-rside a {
    text-decoration: none;
    color: #000;
}

.news-cards-1 h3,
.news-cards-2 h3,
.news-card-rside h3 {
    padding-left: 5px;
}

.small {
    margin-top: 15px;
}

.small a {
    display: block;
    align-items: center;
    margin: 5px 0 10px 5px;
    text-decoration: none;
    font-size: 16px;
}

.all-news-link {
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 5px;
    text-transform: uppercase;
    color: #7e0019 !important;
}

.news {
    margin: 5px auto;
}

.small h3 {
    border-top: 1px solid #bcbbbc;
}

.small span {
    font-size: 12px;
    color: #7e0019;
    text-transform: uppercase;
    background-color: rgb(240, 239, 239);
    padding: 3px;
    vertical-align: middle;
}

.news-card-rside {
    padding: 0 12px;
    width: 100%;
    font-size: 33px;
}


/* REGIONAL NEWS *******************************************************************/

.regional-news {
    display: flex;
}

.left-wrap {
    flex-basis: 25%;
}
.center-wrap {
    flex-basis: 75%;
}
.center-wrap-news {
    display: flex;
    flex-wrap: wrap;
}
.news-card-wrap {
    padding: 0 12px;
    flex-basis: 50%;
}
.center-wrap-news img {
    width: 100%;
}
.left-wrap h5 {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 12px;
    border-top: #900022 1px solid;
}
.center-wrap h5{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 12px;
    border-top: #900022 1px solid;
}