* {
	font-size: 0;
}
.container {
	margin: 0 auto;
	margin-top: 225px;
	width: 900px;
	height: 100vh;
	
 }

.block-main {
	background-color: #333;
	width: 600px;
	height: 500px;
	padding: 5px;
}

.orange {
	height: 100px;
	width: 100%;
	float: left;
	background-color: orange;

}

.block {
	height: 300px;
	width: 25%;
	float: left;
} 
.bg-blue {
	background-color: blue;
}

.bg-purple {
	background-color: purple;
}

.bg-green {
	background-color: green;
	float: left;
}
.bg-red {
	background-color: red;
}

.orange {
	clear: both;
}