* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1130px;
}
h1,
h2,
h4, p {
  text-align: center;
}
h1,h2 {
  
  background-color: rgba(106, 134, 160, 0.3);
}

.desc {
    margin-top: 15px;
      
}

.meals__card {
  width: 600px;
  height: 500px;
  border: 1px dashed black;
  margin: 15px;
}

ul li {
  padding-left: 20px;
  list-style: none;
  z-index: 1;
}
ul li:hover{
    font-weight: bold;

}


.roll__1 {
    width: 597px;
    height: 400px;
    position: relative;
    top: -225px;
    opacity: 0.7;
    z-index: -1;
}
.roll__2 {
    width: 597px;
    height: 405px;
    position: relative;
    top: -245px;
    opacity: 0.7;
    z-index: -1;
}